[graph]
# Cargo deny will check dependencies via `--all-features`
all-features = true

[advisories]
version = 2
ignore = ["RUSTSEC-2024-0436"]

[sources]
unknown-registry = "deny"

[licenses]
version = 2
# We want really high confidence when inferring licenses from text
confidence-threshold = 1.0

# List of explicitly allowed licenses
# See https://spdx.org/licenses/ for list of possible licenses
allow = [
    "0BSD",
    "Apache-2.0 WITH LLVM-exception",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-2-Clause-Patent",
    "BSD-3-Clause",
    "BSL-1.0",
    "CC0-1.0",
    "CDLA-Permissive-2.0",
    "ISC",
    "MIT",
    "MPL-2.0",                        # Although this is copyleft, it is scoped to modifying the original files
    "OpenSSL",
    "Unicode-DFS-2016",
    "Unlicense",
    "Zlib",
    "Unicode-3.0",
]