global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # Scrape metrics from the app container
  - job_name: 'app'
    static_configs:
      - targets: ['app:9091']
    scrape_interval: 5s
